<ion-view title="Contact Us" id="page19">
  <ion-content padding="true" class="has-header">
    <div id="content">
      <div class="contact-info">
        <h2>Contact Info:</h2>
        <div>Dr. Jay Johnson, the Assistant Dean
          <strong>
            <br>Email:
            <a href="mailto:Jay.Johnson@selu.edu &#10;">Jay.Johnson@selu.edu
            </a>
          </strong>
        </div>
      </div>
      <br>
      <div>Dr. Minh Huynh, for Technical Details
        <strong>
          <br>Email:
          <a href="mailto:Minh.Huynh@selu.edu&#10;">Minh.Huynh@selu.edu
          </a>
          <br>Phone:
          <a href="tel:985-549-3949&#10;">985-549-3949
          </a>
        </strong>
      </div>
      <br>
      <div>College of Business
        <strong>
          <br>Email:
          <a href="mailto:business@southeastern.edu&#10;">business@southeastern.edu

          </a>
        </strong>
      </div>
      <br>
      <div>For more information on the event, scan this QR code
        <strong>
          <br>OR visit:
          <a href="http://conferencenow.info/bizconnect&#10;" target="_blank">conferencenow.info/bizconnect
          </a>
        </strong>
      </div>


    </div>
    <div class="spacer" style="width: 300px; height: 1.99148px;"></div>
    <div id="contactUs-container28" class="row qr">
      <div id="contactUs-container31" class="col-50">
        <div>
          <img src="img/3B0tuGYgSJClT4AYJ0bU_Picture1.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <div>
        <img src="img/eDCybbszT9axclH9xrCZ_logo.PNG" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>