<ion-view title="Messaging" id="page7">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"> Home</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <a ui-sref="writeYourComments()" id="messaging-button12" class="button button-positive button-block">Write Your Comments</a>
    <a ui-sref="readFeedback()" id="messaging-button13" class="button button-positive button-block">Read Feedback</a>
  </ion-content>
</ion-view>