<ion-view title="Read Feedback" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="readFeedback-list4" ng-repeat="blog in results2">
      <div class="item item-body" id="readFeedback-list-item-container1">
        <div id="readFeedback-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#387D39;">Name: {{blog.Name}}</p>
        </div>
      </div>
      <div class="item item-body" id="readFeedback-list-item-container2">
        <div id="readFeedback-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C41515;">{{blog.Comment}}</p>
        </div>
      </div>
      <ion-item class="item-divider" id="readFeedback-list-item-divider1"> </ion-item>
    </ion-list>
  </ion-content>
</ion-view>