<ion-view title="Resource" id="page11">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="takeHome()"> Home</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <a ui-sref="servicesForStudentsOnCampus()" id="resource-button14" class="button button-royal button-block">Services for Students On Campus</a>
    <a href-inappbrowser="http://cob.cdcs.selu.edu/WEB-APP/CDCS-Agencies/phone.php" id="resource-button15" class="button button-positive button-block">Opportunities for Service Learning</a>
  </ion-content>
</ion-view>