<ion-view title="Welcome Message" id="page14">
  <ion-content padding="true" class="has-header">
    <h3 id="welcomeMessage-heading3" style="color:#2A2963;text-align:center;">Message from the Dean</h3>
    <div class="qr">
      <img src="img/1MQHeHQZSK2emWM1QSWk_dean.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="welcomeMessage-card22">
      <div class="item item-body qr" id="welcomeMessage-list-item-container7">
        <div id="welcomeMessage-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#2A2963;font-size:17px;">Welcome to Biz-Connect! </p>

          <p style="color:#2A2963;font-size:17px;">This “Business-only” career fair gives business majors and employers an opportunity to make connections for networking, jobs, and internships. The College of Business is happy to partner with Career Services to make this event possible for students
            and employers.</p>

          <p style="color:#2A2963;font-size:17px;">Southeastern’s business majors benefit from well-rounded curricula and class sizes that are small enough to allow them to really know their instructors. Many classes feature real-world experiences that help students develop skills that facilitate
            their transition to career positions.</p>

          <p style="color:#2A2963;font-size:17px;">Thank you for participating in Biz-Connect. I hope you have a productive, enjoyable experience.</p>

          <p style="color:#2A2963;font-size:17px;">Sincerely, </p>

          <p style="color:#2A2963;font-size:17px;">Antoinette Phillips Dean</p>
        </div>
      </div>
      <div class="spacer" style="width: 300px; height: 5px;"></div>
      <div class="qr item item-image">
        <img src="img/99X5GeA9StiireHzQ6Mp_dean-signature.png" style="display:block;width:50%;height:auto;">
      </div>
    </div>
  </ion-content>
</ion-view>